SUPABASE_URL=https://zaavpyuksdjuoqrlwzge.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InphYXZweXVrc2RqdW9xcmx3emdlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2OTA4Mzc0NiwiZXhwIjoyMDg0NjU5NzQ2fQ.f9U6I7DJVlw0iPuW3zUoMl3OmeUupzfEMBZgRf0CuwI
INTERNAL_SECRET=Wx5RprlvKhfI8kOGZi2L0YFUtNQ7n3HPTmgb9wyJsjo4VBuaDMSc1eq6zEXCAd
CLOUDFLARE_ACCOUNT_ID=5e6ee09ca49a56cf518d8275e15a347e
CLOUDFLARE_API_TOKEN=fyM3X5u5haCjfiKKMYL4motfYK4Vzuwni66fd3az
R2_ACCESS_KEY_ID=3bdfcfb623fb7daefd26b69e899bba87
R2_SECRET_ACCESS_KEY=a9902e9168f6f0dad0729019f1c079e1117ca27ae1a8f1ba878af633cad61278
R2_BUCKET_NAME=visuluxe-generated
R2_PUBLIC_URL=https://api.voidzero.in
R2_ENDPOINT=https://5e6ee09ca49a56cf518d8275e15a347e.r2.cloudflarestorage.com
CF_QUEUE_NAME=visuluxe-jobs
FLUX_API_URL=https://api-preview.apirouter.ai/api/v1/deepimg/flux-1-dev